.product {
  padding: 2.4rem;
  border: solid 2px lightgrey;
  border-radius: 1.5rem;
}

.product > * + * {
  margin-top: 2.4rem;
}

.product h2 {
  font-size: 2rem;
  font-weight: 700;
}

.product-header p {
  color: hsl(176, 50%, 47%);
  font-weight: 700;
}

.stat p {
  font-size: 4rem;
  font-weight: 700;
  color: black;
}

.stat span {
  font-size: 2rem;
  font-weight: 500;
  color: hsl(0, 0%, 48%);
}

.stat {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.stat-and-button button {
  margin-top: 2.4rem;
}

@media screen and (min-width: 768px) {
  .product-header {
    display: flex;
    justify-content: space-between;
  }

  .stat-and-button {
    display: flex;
    justify-content: space-between;
  }
}
