.modal-product {
  background-color: white;
  width: 100%;
  align-self: center;
  transition: 0.5s;
}

.modal-product.active {
  border-color: hsl(176, 50%, 47%);
}

.modal-product.disabled {
  border-color: lightgrey;
  opacity: 0.6;
}

.product-selection-header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.modal-product label {
  display: flex;
  align-items: center;
}

.radio-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: 24px;
  height: 24px;
}

.radio-input:hover {
  cursor: pointer;
}

.round-radio {
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid lightgray;
  border-radius: 50%;
  margin-right: 2rem;
  padding: 4px;
  position: relative;
}

.round-radio::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: hsl(176, 50%, 47%);
  border-radius: 50%;
  display: block;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio-input:checked + .round-radio::after {
  transform: scale(1);
}

.product-selection-actions {
  animation: expand 0.5s;
  transform-origin: top;
}

@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.details:hover {
  cursor: pointer;
}

.details .main {
  font-size: 1.6rem;
  color: black;
  font-weight: 700;
  transition: color 0.3s;
}

.details.disabled {
  pointer-events: none;
}

.details:hover .main {
  color: hsl(176, 50%, 47%);
}

.details.disabled:hover .main {
  color: black;
}

.modal-product.active .details .main {
  color: hsl(176, 50%, 47%);
}

.details .secondary {
  font-size: 1.6rem;
  color: hsl(176, 50%, 47%);
  font-weight: 500;
}

.stat p {
  font-size: 3rem;
}

.divider-full {
  margin-top: 4rem;
  width: 100%;
}

.modal-product-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-product-actions > * + * {
  margin-top: 2.4rem;
}

.modal-product-actions header p {
  font-size: 1.8rem;
  font-weight: 500;
}

.input-and-button {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-container .dollar,
.input-container.invalid .dollar {
  font-size: 2rem;
  font-weight: 700;
  color: lightgray;
  position: absolute;
  left: 3rem;
  z-index: 1;
}

.input-container.invalid .pledge-input,
.input-container.invalid .pledge-input:focus {
  border-color: crimson;
}

.input-container.invalid::after {
  content: "Please provide a number.";
  position: absolute;
  display: block;
  width: 100%;
  font-size: 1.3rem;
  bottom: -1.4rem;
  left: 1rem;
  color: crimson;
}

.pledge-input {
  width: 150px;
  padding: 1.6rem 1.6rem 1.6rem 5rem;
  border: 3px solid lightgray;
  border-radius: 3rem;
  outline: none;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
}

.pledge-input:focus {
  border: 3px solid black;
}

/* Very small screens */
@media screen and (max-width: 411px) {
  .input-and-button {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .divider-full {
    height: 2px;
    width: 100%;
  }

  .product-selection-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .details {
    display: flex;
    gap: 1.5rem;
  }
}
