* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Commissioner, sans-serif;
  background-color: hsl(0, 0%, 94%);
}

button {
  font-family: Commissioner, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

p {
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: hsl(0, 0%, 48%);
}

ul {
  list-style: none;
}

#root {
  position: relative;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: relative;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
}

.content-section {
  background-color: white;
  border-radius: 1.5rem;
  width: 100%;
}

.modal-overlay {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 0%, 40%);
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .content {
    width: 700px;
  }
}

@import "./stylesheets/Header.css";
@import "./stylesheets/ActionButton.css";
@import "./stylesheets/ProjectIntro.css";
@import "./stylesheets/Statistics.css";
@import "./stylesheets/ProjectInformation.css";
@import "./stylesheets/Product.css";
@import "./stylesheets/Modal.css";
@import "./stylesheets/ModalProduct.css";
@import "./stylesheets/SelectionCompleted.css";
@import "./stylesheets/MobileMenu.css";
